@model RetailMasters.Models.Valettype

<h2>Edit Valet Type</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Valettypeid" />
    <div class="form-group">
        <label asp-for="Valettypename"></label>
        <input asp-for="Valettypename" class="form-control" />
        <span asp-validation-for="Valettypename" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning mt-2">Update</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
</form>
