@model RetailMasters.Models.creditcard

<h2>Credit Card Details</h2>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.cardid</dd>

    <dt class="col-sm-2">Card Name</dt>
    <dd class="col-sm-10">@Model.cardname</dd>

    <dt class="col-sm-2">Card Type</dt>
    <dd class="col-sm-10">@Model.cardtype</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.cardid" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
