@model RetailMasters.Models.emailgroup

<h2>Email Group Details</h2>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.groupid</dd>

    <dt class="col-sm-2">Group Name</dt>
    <dd class="col-sm-10">@Model.groupname</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.groupid" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
