@model RetailMasters.Models.Emailgroup

<h2>Edit Email Group</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Groupid" />
    <div class="form-group">
        <label asp-for="Groupname"></label>
        <input asp-for="Groupname" class="form-control" />
        <span asp-validation-for="Groupname" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning mt-2">Update</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
</form>
